.bank-list {
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding: 10px;
}

.bank-list__item {
    background-color: white;
    width: calc(50% - 5px);
    flex: 0 0 calc(50% - 5px);
    list-style: none;
    height: 90px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    &:nth-child(odd) {
        margin-right: 5px;
    }
    &:nth-child(even) {
        margin-left: 5px;
    }
    &:hover {
        background-color: darken(white, 10);
    }
}

.bank-list__item__action {
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: block;
    position: relative;
    width: 100%;
    padding: 20px;
    height: 100%;
    &.selected {
        filter: grayscale(100%);
    }
    &:hover {
        filter: grayscale(50%);
        opacity: .8;
    }
}

.bank-list__item__image {
    filter: grayscale(0%);
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
