.homepage-logo {
    display: none;
    margin-bottom: 20px;
    @media #{$desktop} {
        display: inline-block;
    }
}

.section-home-image {
    width: 100%;
}

.section-home-image-container {
    margin-top: 30px;
    width: 100%;
    @media #{$mobile-landscape} {
        display: inline-block;
        margin-top: 0;
        flex: 0 0 calc(50% - 108px);
    }
}

.section-home-action-group {
    margin: 20px auto 0;
    max-width: 360px;
}

.section-home-content-container {
    flex: 1 0 calc(60% - 40px);
    margin-right: 0;
    @media #{$mobile-landscape} {
        margin-right: 40px;
        display: inline-block;
    }
}
