.section-error-page {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    .layout-footer-group {
        @media #{$tablet} {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}

.section-error-content-group {
    text-align: center;
    padding: 20px;
    @media #{$desktop} {
        padding: 0;
    }
}
