.section-user-transactions {
  background-color: $color-blue;
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
.section-user-transactions-list {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    @media #{$tablet} {
        max-width: 400px;
        margin: 0 auto;
        width: auto;
        border: 1px solid white;
    }
}

.section-user-information-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: semibold;
    line-height: 30;
}

.section-user-informations-column {
    flex: 1 1 auto;
    text-align: left;
    &:nth-child(even) {
        text-align: right;
    }
}

.section-user-informations-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
    @media #{$tablet} {
        margin-bottom: 8px;
    }
}

.section-user-transactions-list {
    color: white;
    width: 100%;
    display: inline-block;
    border: 0;
    margin: 0;
    // display: flex;
    // flex-wrap: wrap;
}

.section-user-transaction-table-spent {}

.section-user-transactions-date {
    flex: 1 1 100%;
    background-color: $color-light-grey;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: $color-mid-grey;
    text-align: left;
    box-sizing: border-box;
    &:empty {
        border: 0;
        padding: 0;
        flex: 0 0 0;
    }
}

.section-user-transaction-group {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    &:not(:last-child){
      border-bottom: 1px solid $color-light-grey;
    }
}

.section-user-transaction-beneficary {
    flex: 0 0 calc(70% - 20px);
    color: black;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
}

.section-user-transaction-value {
    color: black;
    flex: 0 0 calc(30% - 20px);
    text-align: right;
    padding: 10px;
    margin: 0;
}
