.text-input-error {
  background-color: $color-error-background;
  color: $color-error;
  font-size: 14px;
  text-align: center;
  height: 24px;
  opacity: 1;
  transition: height .15s, opacity .2s;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  &:empty {
    opacity: 0;
    height: 0;
  }
}

.form-input {
    margin: 0 0 40px 0;
    @media #{$desktop} {}
    label {
        display: none;
    }
    input {
        padding: 10px;
        min-width: 300px;
        border: 0;
        width: 100%;
        border-radius: 1px;
        border-bottom: 3px solid lightgray;
        box-sizing: border-box;
    }
}
