.radio-input-group {
    flex: 0 0 calc(50% - 5px);
    margin-bottom: 10px;
    &:nth-child(odd) {
        margin-right: 5px;
    }
    &:nth-child(even) {
        margin-left: 5px;
    }
}

.radio-input-label {
    background-color: white;
    display: inline-block;
    width: 100%;
    height: 90px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    z-index: 2;
    position: relative;
    &:hover, &:active {
        transition: background-color .2s;
        background-color: darken(white, 10%);
    }
}

.radio-input-label-content {
    text-indent: -9999px;
    display: inline-block;
}

.radio-input-image {
    text-indent: initial;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.radio-input-image__barclays {
    @extend .radio-input-image;
    background-image: url('../../static/images/Barclays.png');
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input-image__santander {
    @extend .radio-input-image;
    background-image: url('../../static/images/LogoSantander.png');
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input-image__natwest {
    @extend .radio-input-image;
    background-image: url('../../static/images/LogoNatWest.png');
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input-image__lloyds {
    @extend .radio-input-image;
    background-image: url('../../static/images/LogoLloyds.png');
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input-image__hsbc {
    @extend .radio-input-image;
    background-blend-mode: multiply;
    background-image: url('../../static/images/LogoHSBC.png');
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input-image__tsb {
    @extend .radio-input-image;
    background-image: url('../../static/images/LogoTSB.png');
    background-repeat: no-repeat;
    background-position: center;
}

.radio-input-radio {
    position: absolute;
    width: 28px;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 0;
}

.radio-input-radio:checked+.radio-input-label, .radio-input-radio:focus+.radio-input-label {
    outline: 2px orange solid;
}
