@import "../../../client/components/Layout/Layout";
.main-content {
    padding: 60px 20px;
    text-align: center;
    @media #{$tablet} {
        padding: 60px 60px;
    }
    @media #{$desktop} {
        padding: 40px;
        flex-wrap: nowrap;
    }
    h1 {
        color: white;
    }
    p {
        // color: #D9D9D9;
        font-size: 14px;
    }
    // .button {
    //     margin: 0 auto;
    // }
}

.secondary-content {
    background-color: white;
    margin: 0 auto;
    @media #{$mobile-landscape} {}
    @media #{$tablet} {}
    @media #{$desktop} {
        // }
        >div:nth-child(2) {
            // .shapes {
            //     width: 300px;
            // }
        }
        >div:nth-child(1) {
            // padding: 10px;
            h1 {
                // color: #304FFE;
                // text-align: left;
            }
            p {
                // color: dimgray;
                // text-align: left;
                // font-size: 14px;
            }
        }
    }
}

.secondary-content-container {
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 980px;
    @media #{$desktop } {
        margin: 0 auto;
    }
}
