//Desktop up non retina

$desktop: "only screen and (min-width: 1200px)";

// Tablet up non retina

$tablet: "only screen and (min-width: 768px)";

// Mobile landscape up non retina

$mobile-landscape: "only screen and (min-width: 667px)";

// Mobile small up non retina

$mobile-small: "only screen and (min-width: 568px)";


// Mobile small up non retina

$mobile-xsmall: "only screen and (min-width: 360px)";
