// Colors

$color-white: #FFF;
$color-light-grey: #CCC;
$color-mid-grey: #666;
$color-dark-grey: #333;
$color-blue: #304FFE;
$color-lightblue: #2ABBF0;
$color-darkblue: #1D32A4;
$color-orange: #F97056;
$color-error: #D8000C;
$color-error-background: #FFBABA;


