.section-statement {
  text-align: center;
}

.section-statement-content {
    @extend .section-content;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: none;
    @media #{$tablet} {
        width: auto;
        display: inline-block;
    }
}

.section-statement-title {
    font-family: 'Montserrat';
    font-size: 24px;
    color: white;
    font-weight: semibold;
    line-height: normal;
    display: none;
    @media #{$tablet} {
        width: 0 auto;
        display: block;
        // border: 1px solid white;
    }
}

.section-statement-action-group {
  padding: 20px 20px 60px;
  max-width: 320px;
  margin: 0 auto;
}

.section-statement-user-information{
  margin-bottom: 36px;
}
