.section-user-information {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    @media #{$tablet} {
        max-width: 400px;
        margin: 0 auto;
        width: auto;
        border: 1px solid white;
    }
}

.section-user-information-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: semibold;
    line-height: 30;
}

.section-user-information-column {
    flex: 1 1 auto;
    text-align: left;
    &:nth-child(even) {
        text-align: right;
    }
}

.section-user-information-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
    @media #{$tablet} {
      margin-bottom: 8px;
    }
}
