.choose-bank-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px;
    max-width: 320px;
}

.choose-bank-form-action-container {
    @extend .button;
    margin: 20px auto 0;
    width: 100%;
    max-width: 320px;
}
