$spacer: 1rem;

.button {
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background: $color-orange;
  padding: $spacer $spacer*1.5;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  border: 0;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  &:hover {
    transition: background-color .2s;
    background-color: darken($color-orange, 10%);
  }
}
