.partners-section {
    background-color: #2ABBF0;
    min-height: 100px;
    text-align: center;
    overflow: hidden;
    padding: 40px 0;
    @media #{$tablet} {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.partners-list {
    display: block;
    padding-left: 0;
    margin: 0;
    @media #{$mobile-landscape} {
        display: flex;
        justify-content: center;
    }
}

.partners-list-item {
    margin: 0 0 40px 0;
    list-style: none;
    padding: 0;
    @media #{$mobile-landscape} {
        margin: 20px;
    }
    @media #{$desktop} {
        margin: 20px;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 40px;
        }
    }
}
