$spacer: 1rem;
html {}

body {
    background-color: #304FFE;
    margin: 0;
}

input {
    font-size: 20px;
    font-weight: normal;
    bottom-border: #D9D9D9;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.14rem;
    margin: 0 0 $spacer 0;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.42rem;
    margin: 0 0 $spacer 0;
}

.section-main-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.14rem;
    margin: 0 0 $spacer 0;
    color: white;
}

.section-main-title__blue {
    @extend .section-main-title;
    color: $color-blue;
}

.section-title {
    @extend .section-title;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.14rem;
    margin: 0 0 $spacer 0;
    color: white;
}

.section-title__grey {
    @extend .section-title;
    color: $color-mid-grey;
}

.section-subtitle {
    @extend .section-title;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.14rem;
    margin: 0 0 $spacer 0;
    color: white;
}

.section-subtitle__grey {
    @extend .section-subtitle;
    color: $color-mid-grey;
    ;
}

.section-content {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 20px;
    margin: 0 0 $spacer 0;
}

.section-content__grey {
    @extend .section-content;
    color: $color-mid-grey;
}
