.header-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
    @media #{$desktop} {
        background-color: transparent;
    }
}

.header-section-logo {
    width: 120px;
}

.header-section-action {
    display: block;
    flex: 1 1 auto;
    @media #{$desktop} {
        display: none;
    }
}

.header-section__no-logo {
    @extend .header-section;
    justify-content: flex-end;
}
